{% extends "base.html" %}
{% block title %} Hyperion {% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}

{% block content %}
<p>{% url 'textgen' %}<p>

<span id="chat_placeholder"></span>
<div class="fixed-bottom-div">
  <form method="post" id="prompt">
    {% csrf_token %}
    <input type="text" name="prompt" maxlength="500" required id="id_prompt">
  </form>
</div>


<script>
var chat_data = "{{ chat_data }}";
const textgen_url = "{% url 'textgen'%}";


 </script>
<script src="{% static 'js/chat.js'%}" type="text/javascript"> </script>

{% endblock %}

